h1 {
    color: red;
    font-family: "Playwrite DK Loopet", cursive;
    text-align: center;
}

div.container {
    border-color: black;
    border-style: solid;
}

#companyValues {
    background-color: yellowgreen;
}

#aboutCompany {
    background-color: orange;
}

#contactUs {
    background-color: lightblue;
}

div#contactUs h2 {
    color: green;
}